@import './tailwind.css';
@import './vars.css';
@import './fonts.css';
@import './decorators.css';
@import './colors.css';
@import './utils.css';
@import './animations.css';
@import './stats.css';
@import './button.css';
@import './nav.css';
@import './tabs.css';
@import './modal.css';
@import './footer.css';
@import './tooltip.css';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media screen and (min-width: 52em) {
    html {
        scroll-padding-top: 2rem;
    }
}

.grid {
    display: grid;
}

img {
    user-select: none;
    -moz-user-select: none;
}

#banner {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#videobcg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index: -100;
}
